---
---

@import "{{ site.theme }}";

body {
  color: #1f2d3d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 60px 0;
}

hr {
  margin: 60px 0 0;
  background: #c8d1dc;
}

h1 {
  font-size: 40px;
  line-height: 44px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
} 

#logo {
  margin-bottom: 22px;
}

a, a:hover, a:focus {
  color: #1f2d3d;
  text-decoration: underline;
  font-weight: normal;
}

.demo, .developers {
  margin: 60px 0 100px;
}

.demo-ctas {
  display: flex;
}

.demo-link {
  padding: 10px 15px 10px;
  border-radius: 100px;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  font-weight: 800;
  margin-right: 10px;
}

.demo-link:hover {
  text-decoration: none;
  font-weight: 800;
}

.demo-link.green {
  background: #7ed321;
}

.demo-link.gray {
  background: #c8d1dc;
}

pre {
  white-space: pre-line;
  background: #fdf6e3;
}

code {
  color: #657b83;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

@media print, screen and (max-width: 960px)
  body {
    padding: 20px;
  }

  header {
    padding: 0 0 60px;
  }

  section {
    padding: 100px 0;
  }
